* {
    font-family: 'product_sansregular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#webcam-container {
    text-align: center;
}
#webcam-container > canvas {
    border-radius: 17px;
    text-align: center;
}
#canvas {
    border-radius: 7px;
}

#label-container {
    text-align: center;
    font-size: 20px;
}

header {
    margin-top: 2%;
    text-align: center;
}

#start-btn {
    margin-top: 20%;
    padding: 0.75rem 2.5rem;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    background-color: #EAEAEA;
}
#start-btn:hover {
    opacity: 0.7;
}

#title {
    font-family: 'product_sansbold';
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20%;
}

.info {
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    border-radius: 7px;
    display: none;
    text-align: center;
}

#letters-container {
    width: 450px;
    padding: 16px;
    border: 3px solid #EAEAEA;
    border-radius: 17px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #EAEAEA;
}

#letters-container1 {
    width: 450px;
    padding: 4.5px;
    border: 3px solid #EAEAEA;
    border-radius: 17px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #EAEAEA;
}

#letters {
    font-size: 50px;
    font-weight: 1000;
    color: #EA4335;
}

#letters1 {
    font-size: 70px;
    font-weight: 1000;
    color: #EA4335;
}

#textInfo {
    color: black;
    font-size: 10px;
}